<section class="section about" id="about" aria-label="about">
  <div class="container">
    <div class="about-banner has-after">
      <img
        src="/images/about-banner.png"
        width="660"
        height="648"
        loading="lazy"
        alt="about banner"
        class="w-100"
      />

      <img
        src="/images/about-circle-one.png"
        width="660"
        height="534"
        loading="lazy"
        aria-hidden="true"
        alt=""
        class="circle circle-1"
      />
      <img
        src="/images/about-circle-two.png"
        width="660"
        height="534"
        loading="lazy"
        aria-hidden="true"
        alt=""
        class="circle circle-2"
      />

      <img
        src="/images/fitness.png"
        width="650"
        height="154"
        loading="lazy"
        alt="fitness"
        class="abs-img w-100"
      />
    </div>

    <div class="about-content">
      <p class="section-subtitle">About Us</p>

      <h2 class="h2 section-title">Welcome To Our Fitness Gym</h2>

      <p class="section-text">
        Success usually comes to those who are too busy to be looking for
        it,just buy it.....
      </p>

      <p class="section-text">Explore our shopping section....</p>

      <div class="wrapper">
        <div class="about-coach">
          <figure class="coach-avatar">
            <img
              src="/images/about-coach.jpg"
              width="65"
              height="65"
              loading="lazy"
              alt="Trainer"
            />
          </figure>

          <div>
            <h3 class="h3 coach-name">Denis Robinson</h3>

            <p class="coach-title">Our Coach</p>
          </div>
        </div>

        <a href="#" class="btn btn-primary">Explore More</a>
      </div>
    </div>
  </div>
</section>
