<section class="section blog" id="blog" aria-label="blog">
    <div class="container">
      <p class="section-subtitle">Our News</p>

      <h2 class="h2 section-title text-center">Latest Blog Feed</h2>

      <ul class="blog-list has-scrollbar">
        <li class="scrollbar-item">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="/images/blog-1.jpg"
                width="440"
                height="270"
                loading="lazy"
                alt="Going to the gym for the first time"
                class="img-cover"
              />

              <time class="card-meta" datetime="2022-07-07"
                >7 July 2022</time
              >
            </div>

            <div class="card-content">
              <h3 class="h3">
                <a href="#" class="card-title"
                  >Going to the gym for the first time</a
                >
              </h3>

              <p class="card-text">
                Praesent id ipsum pellentesque lectus dapibus condimentum
                curabitur eget risus quam. In hac habitasse platea
                dictumst.
              </p>

              <a href="#" class="btn-link has-before">Read More</a>
            </div>
          </div>
        </li>

        <li class="scrollbar-item">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="/images/blog-2.jpg"
                width="440"
                height="270"
                loading="lazy"
                alt="Parturient accumsan cacus pulvinar magna"
                class="img-cover"
              />

              <time class="card-meta" datetime="2022-07-07"
                >7 July 2022</time
              >
            </div>

            <div class="card-content">
              <h3 class="h3">
                <a href="#" class="card-title"
                  >Parturient accumsan cacus pulvinar magna</a
                >
              </h3>

              <p class="card-text">
                Praesent id ipsum pellentesque lectus dapibus condimentum
                curabitur eget risus quam. In hac habitasse platea
                dictumst.
              </p>

              <a href="#" class="btn-link has-before">Read More</a>
            </div>
          </div>
        </li>

        <li class="scrollbar-item">
          <div class="blog-card">
            <div
              class="card-banner img-holder"
              style="--width: 440; --height: 270"
            >
              <img
                src="/images/blog-3.jpg"
                width="440"
                height="270"
                loading="lazy"
                alt="Risus purus namien parturient accumsan cacus"
                class="img-cover"
              />

              <time class="card-meta" datetime="2022-07-07"
                >7 July 2022</time
              >
            </div>

            <div class="card-content">
              <h3 class="h3">
                <a href="#" class="card-title"
                  >Risus purus namien parturient accumsan cacus</a
                >
              </h3>

              <p class="card-text">
                Praesent id ipsum pellentesque lectus dapibus condimentum
                curabitur eget risus quam. In hac habitasse platea
                dictumst.
              </p>

              <a href="#" class="btn-link has-before">Read More</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</article>
</main>