<%- include('./partials/loginheader.ejs')%> <%-
include('./partials/navbar.ejs')%>
<div class="container">
  <div class="row mt-8">
    <h1>Home page</h1>
    <hr />
    <h2>if you are not registered candidate,register yourself</h2>
    <hr />
    <hr />
    <h2>if you are registered then login</h2>
    <hr />
    <hr />
  </div>
</div>
<%- include('./partials/loginfooter.ejs')%>
