<%- include('./partials/loginheader.ejs')%> <%-
include('./partials/navbar.ejs')%>
<div class="container mt-8">
  <div class="row mt-8">
    <h1>Registration page</h1>
    <hr />
    <form method="post">
      <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<%- include('./partials/loginfooter.ejs')%>
